@model CMSSolutions.Websites.Models.DataViewerModel

<section id="category-about">
    <div class="container content-info">
        <div class="category-header">
            @if (Model.CategoryInfo != null)
            {
                <h2>
                    @Model.CategoryInfo.ShortName
                </h2>
            }
            @Html.Raw(Model.Breadcrumb.ToString())
            <div class="clearfix"></div>
        </div>
        
        <div class="row">
            <div class="col-md-3" style="padding-top: 20px;">
                <div class="body-content">
                    @Html.Raw((Model.CategoryInfo != null ? Model.CategoryInfo.Notes : string.Empty))
                </div>
            </div>

            <div class="col-md-9 border-left">
                @if (Model.ListRecruitments != null)
                {
                    for (int i = 1; i <= Model.ListRecruitments.Count; i++)
                    {
                        var item = Model.ListRecruitments[i - 1];
                        var url = Url.Action("RecruitmentDetails", "HomeRecruitment", new { cateAlias = Model.CategoryInfo.Alias, alias = item.Alias });
                        var indexName = i.ToString();
                        if (i <= 9)
                        {
                            indexName = "0" + i;
                        }
                        <div class="row">
                            <div class="data-row">
                                <div class="col-md-12">
                                    <i class="fa fa-lg fa-minus color-red"></i>
                                    <div class="index-news color-red">@indexName</div>
                                    <h3>
                                        <a href="@url" title="@item.Alias">@item.Title</a>
                                    </h3>
                                    <ul class="recruiment-info nav navbar-left">
                                        <li>
                                            <label><i class="fa fa-lg fa-fw fa-map-marker color-red"></i> @T("Vị trí: ")</label> <span>@item.Position</span>
                                        </li>
                                        <li>
                                            <label class="vertical-line">|</label> 
                                        </li>
                                        <li>
                                            <label><i class="fa fa-lg fa-fw fa-calendar-o color-red"></i> @T("Loại hình: ")</label> <span>@item.TimeWork</span>
                                        </li>
                                    </ul>
                                    <ul class="recruiment-info nav navbar-right">
                                        <li>
                                            @item.FinishDate.ToString(CMSSolutions.Websites.Extensions.Constants.DateTimeFomat)
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                                <hr class="padding-line" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>